.item-bis {
  width: 100%;
  /* max-width: 1100px; */
  position: relative;
  justify-content: center;

  display: flex;
  gap: 20px;
}

.item-bis li {
  list-style-type: none;
  /* padding: 0; */
  /* margin: 0; */
}

.item-bis ul {
  /* list-style-type: none; */
  padding: 0;
  /* margin: 20px 0px; */

  display: flex;
  flex-direction: column;
  align-items: start;
}

.slot-container {
  /* padding-left: 20px; */
  margin: 0;
}

.slot {
  height: 40px;
  width: 150px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(129, 129, 129);
  border-right: 1px solid rgb(129, 129, 129);
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: rgba(87, 87, 87, 0.637);

  display: flex;
  justify-content: start;
  align-items: center;
}

.slot-active {
  height: 40px;
  width: 150px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(129, 129, 129);
  border-right: 1px solid rgb(129, 129, 129);
  font-weight: bold;
  background: #ffffffc9;
  color: #000000d5;

  display: flex;
  justify-content: start;
  align-items: center;
}

.slot:hover {
  cursor: pointer;
  background-color: rgb(66, 66, 66);
}

.slot:active {
  background-color: rgb(255, 0, 0);
}

.item-language {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}

.item-language button {
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.items-names-container {
  display: flex;
  gap: 10px;
  margin: 40px 0px;
}

.items-names {
  display: flex;
  height: 56px;
  /* gap: 0px; */
  align-items: center;
  border-top: solid 1px white;

  width: 300px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.items-names img {
  height: 56px;
  width: 56px;
  border-radius: 5px;
  border: solid 2px rgb(85, 0, 141);
}

.items-names li {
  width: 100%;
}

.items-class-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 40px 0px;
}

.class-container {
  height: 56px;
  /* padding-top: 5px; */
  display: flex;
  gap: 0px 20px;
  flex-wrap: wrap;

  border-top: solid 1px rgba(255, 255, 255, 0.418);
  border-right: solid 1px rgba(255, 255, 255, 0.418);
  width: 400px;
  font-size: 14px;
}

.loot-container {
  height: 56px;
  /* padding-top: 5px; */
  display: flex;
  gap: 20px;

  border-top: solid 1px rgba(255, 255, 255, 0.418);
  border-right: solid 1px rgba(255, 255, 255, 0.418);
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(202, 0, 0);
}
