.searchplayer-form-container {
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  position: relative;
}

.searchplayer-form {
  height: 45px;
  /* width: 400px; */
  /* position: relative; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchplayer-form input {
  height: 30px;
  padding: 0px 10px;
  margin: 0px;
  border: 0px;
  width: 300px;
  border-radius: 5px 0px 0px 5px;
}

.searchplayer-form input:focus {
  outline: 0px;
  background-color: #79030391;
}

.searchplayer-form button {
  border: 0px;
  margin: 0px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}

.searchplayer-form button:focus {
  outline: 0px solid #790303;
}

.searchplayer-form button:active {
  outline: 1px solid #790303;
}

.searchplayer-form button:hover {
  background-color: #79030331;
}

.searchplayer-found {
  position: absolute;
  width: 320px;
  background: #120931f5;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchplayer-form h1 {
  font-size: 16px;
  height: 27px;
  width: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add-dkp-container {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  top: 0px;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-add-dkp {
  height: 30px;
  width: 90px;
  background-color: #790303;
  margin: 0px;
  padding: 0px 10px;
  border: 0px;
  pointer-events: painted;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add-dkp:focus {
  outline: 0px;
}

.button-add-dkp:hover {
  background-color: #c90707;
}

.button-add-dkp:active {
  background-color: #302828;
}

.date-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.date {
  height: 30px;
  width: 150px;
  background-color: #79030393;
  margin: 0px;
  padding: 0px 10px;
  border: 0px;
  pointer-events: painted;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date h1 {
  font-size: 14px;
}

.list-days {
  position: absolute;
  bottom: -40px;
  left: 0px;
  padding: 5px;
  background: #797979a6;
  z-index: 1;
  border-radius: 5px;

  display: flex;
  gap: 10px;
}

.list-days button {
  width: 100px;
  height: 30px;
  background: #790303;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}
